.body{
  background: url(../public/background-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.product-section{
  display: flex;
  width: 100vw;
  max-width: 100%;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  height: 70vh;
  overflow-y: scroll;
  padding: 3rem;
}