@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Roboto:wght@400;500;700;900&display=swap');
:root {
  --primary: #8B6B57;
  --primary-hover: #634d40;
  --secondary: #355d4c;
  --secondary-hover: #1e342b;
  --white: #fff;
  --black: #000;
  --black-transparent: rgba(0, 0, 0, 0.35);
  --white-transparent: rgba(242, 242, 242, 0.9);

  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Hammersmith One", sans-serif;
  --font-awesome: "FontAwesome";
}

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}